@font-face {
  font-family: "NotoSansKR";
  font-weight: 800;
  src: url(../fonts/NotoSansKR-Black.otf);
}
@font-face {
  font-family: "NotoSansKR";
  font-weight: 600;
  src: url(../fonts/NotoSansKR-Bold.otf);
}
@font-face {
  font-family: "NotoSansKR";
  font-weight: 400;
  src: url(../fonts/NotoSansKR-Light.otf);
}
@font-face {
  font-family: "NotoSansKR";
  font-weight: 500;
  src: url(../fonts/NotoSansKR-Medium.otf);
}
@font-face {
  font-family: "NotoSansKR";
  font-weight: 400;
  src: url(../fonts/NotoSansKR-Regular.otf);
}
@font-face {
  font-family: "NotoSansKR";
  font-weight: 300;
  src: url(../fonts/NotoSansKR-Thin.otf);
}
@font-face {
  font-family: "Roboto";
  font-weight: 800;
  src: url(../fonts/Roboto-Black.ttf);
}
@font-face {
  font-family: "Roboto";
  font-weight: 600;
  src: url(../fonts/Roboto-Bold.ttf);
}
@font-face {
  font-family: "Roboto";
  font-weight: 400;
  src: url(../fonts/Roboto-Light.ttf);
}
@font-face {
  font-family: "Roboto";
  font-weight: 500;
  src: url(../fonts/Roboto-Medium.ttf);
}
@font-face {
  font-family: "Roboto";
  font-weight: 400;
  src: url(../fonts/Roboto-Regular.ttf);
}
@font-face {
  font-family: "Roboto";
  font-weight: 300;
  src: url(../fonts/Roboto-Thin.ttf);
}
@import url(https://cdn.jsdelivr.net/gh/moonspam/NanumSquare@1.0/nanumsquare.css);
html,
body {
  margin: 0;
  font-family: "NanumSquare", "Noto Sans KR", "Roboto", sans-serif !important;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
ol,
ul,
dl {
  list-style: none;
  margin: 0;
  padding: 0;
}
a {
  display: block;
  text-decoration: none;
  color: #000;
  cursor: pointer;
}
img {
  width: 100%;
}
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
  padding: 0;
  font-weight: normal;
}
button {
  cursor: pointer;
}
.ff-r {
  font-family: "Roboto", sans-serif;
}
.mobile {
  display: none !important;
}

.pc {
  display: block !important;
}

.clear::after {
  content: "";
  display: block;
  clear: both;
}
@media screen and (max-width: 1270px) {
  .mobile {
    display: block !important;
  }

  .pc {
    display: none !important;
  }
}
